{% extends "base.html" %}
{% load static %}

{% block title %}Atendente{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/atendente.css' %}">
{% endblock %}


{% block content %}

<section>
    <div class="row">
        <h2 class="section-heading">Médicos</h2>
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="icon-wrapper">
                    <i class="fa fa-edit"></i>
                </div>
                <a href="{% url 'cadastro_medico' %}"><h3>Cadastro Médico</h3></a>
                <p>Cadastro de novos médicos no Sistema</p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="icon-wrapper">
                    <i class="fa fa-plus-square"></i>
                </div>
                <a href="{% url 'cadastro_especialidade' %}"><h3>Cadastro Especialidade</h3></a>
                <p>Cadastro de novas especialidades médicas da clínica</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}

