{% extends "base.html" %}
{% load static %}

{% block title %}Paciente{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/atendente.css' %}">
{% endblock %}


{% block content %}

<section>
    <div class="row">
        <h2 class="section-heading">Paciente</h2>
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="icon-wrapper">
                    <i class="fa fa-edit"></i>
                </div>
                <a href="{% url 'cadastrar_ficha_medica' %}"><h3>Cadastrar Ficha Médica</h3></a>
                <p>Cadastro da sua ficha médica no Sistema</p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="icon-wrapper">
                    <i class="fa fa-file"></i>
                </div>
                <a href="{% url 'marcar_consulta' %}"><h3>Marcar consulta</h3></a>
                <p>Marque suas consultas aqui</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}

